<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sağlık Portalı</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap 5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/stylee.css">
  <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="/scriptNavbar.js" defer></script>
  <link rel="stylesheet" href="/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    body {
      background-position: center;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    @media screen and (min-width: 800px) {
      body {
        margin-left: 88px;
        margin-right: 20px;
      }
    }

    @media screen and (max-width: 800px) {
      body {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
      }

      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }

    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }

    .range-value {
      display: inline-block;
      width: 30px;
      text-align: center;
      margin-left: 10px;
    }
  </style>
</head>

<body>
  <nav class="navbar flex phoneNavbar ">
    <div class="container-fluid">
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" style="z-index: 0;">
      <%- include('partial/sidebar') %>

      <div class="container mt-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-5 col-sm-5 col-xs-2">
            <div class="container mt-5">
              <h3 class="text-center">Akciğer Kanseri Testi</h3>
              <form id="cancer-test-form">
                <div class="mb-3">
                  <label for="age" class="form-label">Yaşınız:</label>
                  <input type="range" class="form-range" name="age" id="age" min="0" max="100" value="50">
                  <span class="range-value">50</span>
                </div>

                <div class="mb-3">
                  <label for="gender" class="form-label">Cinsiyet Seçimi:</label>
                  <input type="range" class="form-range" name="gender" id="gender" min="1" max="2" value="1">
                  <span id="genderLabel" class="range-value">Erkek</span>
                </div>

                <div class="mb-3">
                  <label for="airPollution" class="form-label">Hava kirliliğine maruz kalma dereceniz:</label>
                  <input type="range" class="form-range" name="airPollution" id="airPollution" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="alcoholUse" class="form-label">Alkol Kullanımı:</label>
                  <input type="range" class="form-range" name="alcoholUse" id="alcoholUse" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="dustAllergy" class="form-label">Toz alerjisi seviyesi:</label>
                  <input type="range" class="form-range" name="dustAllergy" id="dustAllergy" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="occupationalHazards" class="form-label">Mesleki tehlikelere maruz kalma riski:</label>
                  <input type="range" class="form-range" name="occupationalHazards" id="occupationalHazards" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="geneticRisk" class="form-label">Genetik Risk:</label>
                  <input type="range" class="form-range" name="geneticRisk" id="geneticRisk" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="chronicLungDisease" class="form-label">Kronik Akciğer Hastalığı:</label>
                  <input type="range" class="form-range" name="chronicLungDisease" id="chronicLungDisease" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="obesity" class="form-label">Obezite düzeyi:</label>
                  <input type="range" class="form-range" name="obesity" id="obesity" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="smokingLevel" class="form-label">Sigara içme seviyesi:</label>
                  <input type="range" class="form-range" name="smokingLevel" id="smokingLevel" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="passiveSmoking" class="form-label">Pasif içicilik seviyeniz:</label>
                  <input type="range" class="form-range" name="passiveSmoking" id="passiveSmoking" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="chestPain" class="form-label">Göğüs ağrısı seviyeniz:</label>
                  <input type="range" class="form-range" name="chestPain" id="chestPain" min="0" max="8" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="bloodyCough" class="form-label">Kanlı öksürük seviyeniz:</label>
                  <input type="range" class="form-range" name="bloodyCough" id="bloodyCough" min="0" max="8" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="fatigue" class="form-label">Yorgunluk seviyeniz:</label>
                  <input type="range" class="form-range" name="fatigue" id="fatigue" min="0" max="8" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="weightLoss" class="form-label">Kilo kaybı seviyeniz:</label>
                  <input type="range" class="form-range" name="weightLoss" id="weightLoss" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="shortnessOfBreath" class="form-label">Nefes darlığı düzeyiniz:</label>
                  <input type="range" class="form-range" name="shortnessOfBreath" id="shortnessOfBreath" min="0" max="8" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="wheezing" class="form-label">Nefes alırken çıkarılan hırıltı düzeyiniz:</label>
                  <input type="range" class="form-range" name="wheezing" id="wheezing" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="difficultySwallowing" class="form-label">Yutma güçlüğü düzeyiniz:</label>
                  <input type="range" class="form-range" name="difficultySwallowing" id="difficultySwallowing" min="0" max="7" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="clubbing" class="form-label">El tırnaklarının çomaklaşma düzeyi:</label>
                  <input type="range" class="form-range" name="clubbing" id="clubbing" min="0" max="8" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="frequentColds" class="form-label">Soğuk algınlığı sıklık düzeyi:</label>
                  <input type="range" class="form-range" name="frequentColds" id="frequentColds" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="dryCough" class="form-label">Kuru Öksürük seviyeniz:</label>
                  <input type="range" class="form-range" name="dryCough" id="dryCough" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <div class="mb-3">
                  <label for="snoring" class="form-label">Horlama seviyeniz:</label>
                  <input type="range" class="form-range" name="snoring" id="snoring" min="0" max="6" value="0">
                  <span class="range-value">0</span>
                </div>

                <button type="submit" class="btn btn-primary">Gönder</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Bootstrap Modal -->
      <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="resultModalLabel">Test Sonucu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="alert" id="resultAlert" role="alert">
                <h2 id="resultText"></h2>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
              <button type="button" class="btn btn-primary" id="saveResultsButton">Kaydet</button>
            </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script>
        document.querySelectorAll('.form-range').forEach(function(input) {
          input.addEventListener('input', function() {
            this.nextElementSibling.textContent = this.value;
          });
        });

        document.getElementById('gender').addEventListener('input', function() {
          var gender = (this.value === '1') ? 'Erkek' : 'Kadın';
          document.getElementById('genderLabel').textContent = gender;
        });

        const form = document.getElementById('cancer-test-form');
        form.addEventListener('submit', async function(event) {
          event.preventDefault();
          
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());

          try {
            const response = await fetch('/akciger-kanseri-testi', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            });
            const result = await response.json();

            let resultText = '';
            let alertClass = '';
            if (result.output === 1) {
              resultText = 'Düşük';
              alertClass = 'alert-light';
            } else if (result.output === 2) {
              resultText = 'Orta';
              alertClass = 'alert-info';
            } else if (result.output === 3) {
              resultText = 'Yüksek';
              alertClass = 'alert-danger';
            }
            document.getElementById('resultText').textContent = resultText;
            document.getElementById('resultAlert').className = `alert ${alertClass}`;
            const resultModal = new bootstrap.Modal(document.getElementById('resultModal'));
            resultModal.show();
          } catch (error) {
            console.error('Error:', error);
          }
        });

        document.getElementById('saveResultsButton').addEventListener('click', async function() {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData.entries());
          data.saveResults = 'on';

          try {
            const response = await fetch('/akciger-kanseri-testi', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            });

            const result = await response.json();
            alert('Sonuçlar kaydedildi!');
            const resultModal = bootstrap.Modal.getInstance(document.getElementById('resultModal'));
            resultModal.hide();
          } catch (error) {
            console.error('Error:', error);
          }
        });
      </script>
</body>

</html>
