<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <div class="container">
        <div class="profile-info">
            <h2>Profil</h2>
            <p>Bu alanda profil bilgileriniz bulunmaktadır.</p>
        </div>
        <div class="profile-details">
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <span id="username"><%= user.name %></span>
            </div>
            <div class="form-group">
                <label for="email">E-posta:</label>
                <span id="email"><%= user.name  %></span>
            </div>
            <!-- Diğer profil detayları buraya eklenebilir -->
        </div>
        <div class="profile-actions">
            <button>Edit Profile</button>
            
        </div>
    </div>
</body>
</html>