<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaydol</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="form-container">
        <h2>Kaydol</h2>

        <% if (typeof message !== "undefined" && checkingMessage) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% } else if (typeof message !== "undefined") { %>
            <div class="alert alert-success">
                <%= message %>
            </div>
        <% } %>
        
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="first_name">Ad:</label>
                <input type="text" id="first_name" name="first_name" placeholder="Adınızı girin" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="last_name">Soyad:</label>
                <input type="text" id="last_name" name="last_name" placeholder="Soyadınızı girin" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" id="username" name="username" placeholder="Kullanıcı adınızı girin" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="email">E-Posta:</label>
                <input type="email" id="email" name="email" placeholder="E-posta adresinizi girin" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="phone">Telefon Numarası:</label>
                <input type="tel" id="phone" name="phone" inputmode="numeric" placeholder="0 538 716 47 10" pattern="[0-9]{11}" title="Lütfen telefon numaranızı uygun şeklinde girin" required autocomplete="off" inputmode="numeric" maxlength="11">
            </div>
            <div class="form-group">
                <label for="birthdate">Doğum Tarihi:</label>
                <input type="date" id="birthdate" name="birthdate" required>
            </div>
            <div class="form-group">
                <label for="pass">Şifre:</label>
                <input type="password" id="pass" name="password" minlength="8" required  autocomplete="off"/>
            </div>
            <div class="form-group">
                <label for="pass">Şifre Tekrar:</label>
                <input type="password" id="pass2" name="password2" minlength="8" required autocomplete="off" />
            </div>
            <button type="submit" class="submit-btn ">Kaydol</button>
        </form>
        <p>Hesabın var mı? <a href="/login">Giriş Yap</a></p>

    </div>
</body>
</html>