<div class="col-sm-1 ">
    <nav class="sidebar locked">
        <div class="logo_items flex">
            <span class="nav_image">
                <img src="/new_favicon.ico"/>
            </span>
            <span class="logo_name">SağlıkPortalı</span>
        </div>

        <div class="menu_container ">
            <div class="menu_items">
                <ul class="menu_item" style="padding:0;">
                    <li class="item">
                        <a href="/" class="link flex">
                            <i class="bx bx-home-alt"></i>
                            <span>Anasayfa</span>
                        </a>
                    </li>
                    <% if (user && user.isTrainer) { %>
                        <li class="item">
                            <a href="/users" class="link flex">
                                <i class="bx bxs-conversation"></i>
                                <span>Chat</span>
                            </a>
                        </li>
                    <% } else if (user && !user.isTrainer) { %>
                        <li class="item">
                            <a href="/trainers" class="link flex">
                                <i class="bx bxs-conversation"></i>
                                <span>Chat</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <ul class="menu_item " style="padding:0;">
                    <div class="menu_title flex">
                        <div class="title">Beslenme</div>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="/nutrition" class="link flex">
                            <i class="bx bx-body"></i>
                            <span>Beslenme Programı</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/nutrition-finder" class="link flex">
                            <i class="bx bxs-magic-wand"></i>
                            <span>Yemek Bulucu</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/nutrition-body" class="link flex">
                            <i class="bx bxs-magic-wand"></i>
                            <span>Beslenme Planı</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu_item " style="padding:0;">
                    <div class="menu_title flex">
                        <div class="title">Egzersiz</div>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="/exercises" class="link flex">
                            <i class="bx bx-body"></i>
                            <span>Egzersizler</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/exercise-finder" class="link flex">
                            <i class="bx bxs-magic-wand"></i>
                            <span>Egzersiz Bulucu</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu_item " style="padding:0;">
                    <div class="menu_title flex">
                        <div class="title">Testler</div>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="/akciger-kanseri-testi" class="link flex">
                            <i class="fa-solid fa-lungs"></i>
                            <span>Akciğer Kanseri Testi</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/kalp-krizi-test" class="link flex">
                            <i class="bx bxs-heart"></i>
                            <span>Kalp Krizi Testi</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="/indeks" class="link flex">
                            <i class="bx bx-math"></i>
                            <span>Vücut Kitle İndeksi</span>
                        </a>
                    </li>
                </ul>

                <% if (!user) { %>
                    <ul class="menu_item " style="padding:0;">
                        <div class="menu_title flex">
                            <span class="title">Kullanıcı</span>
                            <span class="line"></span>
                        </div>
                        <li class="item">
                            <a href="/login" class="link flex">
                                <i class="fa-solid fa-user"></i>
                                <span>Giriş Yap</span>
                            </a>
                        </li>
                        <li class="item" style="padding-left: 4px;">
                            <a href="/signup" class="link flex">
                                <i class="fa-solid fa-user-plus"></i> 
                                <span>Kaydol</span>
                            </a>
                        </li>
                    </ul>
                <% } %>
            </div>

            <% if (user) { %>
                <div class="sidebar_profile flex">
                    <span class="nav_image">
                        <img src="/profile-1.jpeg" href="/profile"   alt="/profile-1.jpeg" />
                    </span>
                    <div class="data_text">
                        <a class="name" href="/profile"><%= user.name %> <%= user.surname %></a>
                        <span class="email"><%= user.email %></span>
                    </div>
                </div>
            <% } %>
        </div>
    </nav>
</div>
